.image-container {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative; /* Add relative positioning to the container */
  }
  
  
 
  
  
  
  
  
  
  .outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  
  .m {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
  }
  
  /* effect.css */
  
  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image-container h3 {
    transition: transform 3s ease-in-out;
  }
  
  .image-container:hover h3 {
    transform: translateY(20px); /* Adjust the distance you want the heading to drop */
  }
  