*{
  margin:0;
  padding: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: ROG;
  src: url(./assets/font/ROG.ttf);
}
.rog{
  font-family: ROG;
}

.custom-bg {
  background-color: rgba(34, 35, 35, 1);
}

.pic-bg{
   background-color: rgba(21, 20, 20, 1);
}
.projectcard-bg{
   background-color: rgba(34, 35, 35, 5);
}


@font-face {
  font-family: orbit;
  src: url(./assets/font/orbit.ttf);
}

.orbit{
  font-family: orbit;
}